@media (min-width: 1200px) {
    /** */
    main .city-inner {
        background-size: 120% auto;
    }
    /** */
    main .car {
        top: 40px;
    }
}
@media (min-width: 1440px) {
    /** */
    .btn-yellow-big,
    .btn-dark-big {
        padding: 0 35px;
        font-size: 35px;
        line-height: 92px;
    }
    /** */
    main .slogan {
        top: 270px;
        transform: translate(-42%, 0) perspective(1300px) rotateY(50deg)
            rotateX(-20deg);
        -webkit-transform: translate(-42%, 0) perspective(1300px) rotateY(50deg)
            rotateX(-20deg);
        -moz-transform: translate(-42%, 0) perspective(1300px) rotateY(50deg)
            rotateX(-20deg);
        -ms-transform: translate(-42%, 0) perspective(1300px) rotateY(50deg)
            rotateX(-20deg);
        -o-transform: translate(-42%, 0) perspective(1300px) rotateY(50deg)
            rotateX(-20deg);
    }
    main .slogan h1 {
        font-size: 88px;
        line-height: 100px;
    }
    main .slogan h2 {
        font-size: 42px;
        line-height: 40px;
    }
   
}